body {
    margin: 30px;
}

nav {
    font-family: Helvetica, sans-serif;
    display: inline-block;
}

ul h1 {
    display: inline;
    padding: 10px;
}

nav li {
    list-style: none;
    color: lime;
    display: inline;
    padding: 10px;
}

main {
    border-top: 1px solid black;
}

main p {
    font-family: Helvetica, sans-serif;
}